node_modules
dist
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
docker-compose.yml
docker-compose.*.yml
Dockerfile
.dockerignore
*.tar
docker-compose.override.yml
.env
